<div class="container mt-5">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped hover row-border hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Height feet</th>
                <th>Height inches</th>
                <th>Position</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let j of players" (click)="viewDetail(j.id)">
                <td>{{j.id}}
                    <p class="pt-4" [hidden]="expanded != j.id">{{playerInfo.id}} </p>
                </td>
                <td>{{j.first_name}} {{j.first_name == null? '-' : j.first_name}}
                    <p class="pt-4" [hidden]="expanded != j.id"> {{playerInfo.abbreviation}}</p>
                </td>
                <td>{{j.last_name}} {{j.last_name == null? '-' : j.last_name}}
                    <p class="pt-4" [hidden]="expanded != j.id"> {{playerInfo.city}}</p>
                </td>
                <td>{{j.height_feet}} {{j.height_feet == null? '-' : j.height_feet}}
                    <p class="pt-4" [hidden]="expanded != j.id">{{playerInfo.conference}}</p>
                </td>
                <td>{{j.height_inches}} {{j.height_inches == null? '-' : j.height_inches}}
                    <p class="pt-4" [hidden]="expanded != j.id"> {{playerInfo.division}}</p>
                </td>
                <td [ngClass]=" (j.position=='C' ) ? 'pintaRojo': (j.position=='F' ) ? 'pintaAzul' : (j.position=='G' ) ? 'pintaVerde' : (j.position=='null' )? 'pintaGris': '' ">
                    {{j.position}}
                    <p class="pt-4" [hidden]="expanded != j.id"></p>
                </td>
                <td>{{j.weight_pounds}} {{j.weight_pounds == null? '-' : j.weight_pounds}}
                    <p class="pt-4" [hidden]="expanded != j.id"></p>
                </td>
            </tr>
        </tbody>
    </table>




</div>
